.category-item img {
  width: 100%;
}

.category-item {
  max-width: 200px;
  background-color: lightgrey;
  padding: 12px;
  margin: 24px;
  border-radius: 8px;
  text-align: center;
}

.categories {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

form {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  cursor: pointer;
}
